### ***Preparacion de Datos con Pandas***
Msc Renzo Claure Aracena

### Recoleccion de Datos
#### Importar datos desde la WEB

In [2]:
import pandas as pd
import numpy as np

In [ ]:
import os
os.getcwd()

In [ ]:
#os.chdir("C:\Nueva Carpeta") # para cambiar un directorio

Varias de las bases otenidas para el cuirso provienen de:
https://archive-beta.ics.uci.edu/, el cual es un repositorio libre

In [ ]:
# Importaremos el set de datos Autos de la siguiente direcci√≥n:

<ul>
    <li><a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01" target="_blank">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a></li>
    
</ul>

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
base = pd.read_csv(url)

In [4]:
base.head(10)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
6,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
8,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,?
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

#### Top

In [5]:
base = pd.read_csv(url, header=None)
base.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Botton

In [ ]:
base.tail()

#### Encabezados

In [ ]:
encabezados = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
base.columns = encabezados
base.head()

In [ ]:
pd.crosstab(base['fuel-type'],base['drive-wheels'],values=base['make'], aggfunc='count', margins=True)

In [ ]:
pd.crosstab(base['fuel-type'],base['drive-wheels'],values=base['price'], aggfunc='sum', margins=True)

#### Revisar la forma o dimension del DF

In [ ]:
base.shape

In [ ]:
base.shape[0]

In [ ]:
base.columns

In [ ]:
base.info()

#### Grabar un DF

In [ ]:
base_2 = base.to_csv('base2.csv', index=False)

#### Tipos de datos y Descripci√≥n

In [ ]:
base.dtypes

In [ ]:
base.describe()

In [ ]:
base.describe(include='all')

In [ ]:
base[['width', 'length']].describe()

#### Importe el siguiente set de datos:
<ul>
    https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
</ul>
Determine:
<li>   La froma de la tabla </li>
<li>   El tercer cuarttil de las variables: residual sugar y density </li>
<li>   Muestre los √∫ltimos 5 registros de la tabla, para las columnas: pH,	sulphates,	alcohol	y quality </li>

In [ ]:
df_1.head()

In [ ]:
df_1.iloc[2,:]

In [ ]:
df_1.loc[2, 'citric acid' ]

In [ ]:
df_1.iloc[2, 2]

In [ ]:
df_1[['volatile acidity_2']] = df_1[['volatile acidity']]*3

In [ ]:
df_1[['volatile acidity', 'volatile acidity_2']]

### Limpieza de datos

In [ ]:
import matplotlib.pylab as plb

#### Identificar Datos perdidos

<div>En Pandas los nullos se conocen como : "null"</div> 
<div>En numpy los nullos son: "nan" </div>

In [ ]:
base.info()

In [ ]:
base.head()

In [ ]:
base.isnull()

In [ ]:
base.isnull().sum()

In [ ]:
#Realizando el cambio de ? por nulos np
base.replace('?', np.nan).head()

In [ ]:
base.isnull().sum()

In [ ]:
#Realizando el cambio de ? por nulos np, pero reemplazandolos definitivamente en la base de datos
base.replace('?', np.nan, inplace=True)

In [ ]:
base.isnull().sum()

In [ ]:
base[base[['normalized-losses']].isnull().values.any(axis=1)]
#base[base[['normalized-losses']].isnull().values.any(axis=1)]

In [ ]:
base[base['price'].isnull()]

In [ ]:
base['price'].isnull()

In [ ]:
base[base.isnull().any(axis=1)]

In [ ]:
base.info()

In [ ]:
#Otra froma de ver nulos
for column in base.isnull().columns.values.tolist():
    print(column)
    print (base.isnull()[column].value_counts())
    print('...')

#### Eliminar Datos perdidos

In [ ]:
base.shape

In [ ]:
base.dropna().shape #por defecto asume axis=0

In [ ]:
base.shape

In [ ]:
base.dropna(axis=1).shape

In [ ]:
base.shape

In [ ]:
base.dropna(subset=['price']).shape

#### Transformar datos perdidos

In [6]:
base.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [ ]:
# Reemplazar por un valor fijo
base['normalized-losses'].fillna(160).head()

In [ ]:
#Colocar el √∫ltimo valor v√°lido
base['price'].iloc[43:48]

In [ ]:
base['price'].iloc[43:48].fillna(method ='ffill')  #bfill para colocar el primer valor v√°lido

In [ ]:
base['price'].iloc[43:48].ffill()

In [ ]:
base['price'].iloc[43:48].fillna(method ='bfill')

In [ ]:
base['price'].iloc[43:48].bfill()

In [ ]:
base[['price']].dtypes

In [ ]:
#Reemplazar por la media o mediana
base['price'].astype('float')

In [ ]:
base["price"].iloc[42:48]

In [ ]:
base["price"].iloc[43:48].replace(np.nan, base['price'].astype('float').mean()) #Media, se debe convertir a flotante

In [ ]:
base["price"].iloc[43:48].replace(np.nan, base['price'].astype('float').median()) #Mediana

In [ ]:
base["price"].replace(np.nan, base['price'].astype('float').mean(), inplace=True)

In [ ]:
base["price"].iloc[43:48]

In [ ]:
prom_price=base['price'].astype('float').mean(axis=0)
print("promedio price:", prom_price)
#base["price"].replace(np.nan, prom_price, inplace=True)

*Cambie los valores nulos de las columnas: "stroke", "horsepower", "peak-rpm" y "normalized-losses"  por el valor promedio de toda la columna*

In [ ]:
base["stroke"].replace(np.nan, base['stroke'].astype('float').mean()) #Media
base["horsepower"].replace(np.nan, base['horsepower'].astype('float').mean()) #Media
base["peak-rpm"].replace(np.nan, base['peak-rpm'].astype('float').mean()) #Media
base["normalized-losses"].replace(np.nan, base['normalized-losses'].astype('float').mean()) #Media

```
moda
```

In [ ]:
# Valores Categoricos: Reemplazar por el valor m√°s frecuente
# Para ver las frecuencias de forma simple:
base['num-of-doors'].value_counts()

In [ ]:
base['num-of-doors'].isnull().sum()

In [ ]:
base['num-of-doors'].value_counts().idxmax()

In [ ]:
base['num-of-doors'].replace(np.nan, 'four', inplace=True)
base['num-of-doors'].isnull().sum()

In [ ]:
# Corregir formatos

In [ ]:
base.dtypes

In [ ]:
base[["price"]] = base[["price"]].astype("float")
#base[["normalized-losses"]] = base[["normalized-losses"]].astype("int")
base[["bore", "stroke"]] = base[["bore", "stroke"]].astype("float")
base[["peak-rpm"]] = base[["peak-rpm"]].astype("float")

In [ ]:
base.dtypes

In [ ]:
base["normalized-losses"].replace(np.nan, base['normalized-losses'].astype('float').mean(), inplace=True)

In [ ]:
base["normalized-losses"].head()

In [ ]:
type(base["normalized-losses"])

In [ ]:
type(base[["normalized-losses"]])

In [ ]:
base[["normalized-losses"]]

In [ ]:
base["normalized-losses"]

In [ ]:
base_2 = base[["normalized-losses", 'price']]

In [ ]:
base_2.head()

In [ ]:
base['make'].astype('float')

In [ ]:
base['make']

In [ ]:
pd.DataFrame()