In [1]:
#cree una funcion que tome un numero y arroje su valor negativo
def make_negative(number):
    """
    Toma un número y devuelve su valor negativo.
    Si el número ya es negativo o cero, lo retorna sin cambios.
    """
    return -abs(number)

# Ejemplo de uso
num = 5
print(make_negative(num))  # Salida: -5

-5

In [2]:
#cree una funcion que tome una lista de numeros y arroje su valor negativo
def make_list_negative(numbers):
    """
    Toma una lista de números y devuelve una nueva lista con los valores negativos.
    """
    return [-abs(num) for num in numbers]

num_list = [1, -2, 3, 0, -5]
print(make_list_negative(num_list))  # Salida: [-1, -2, -3, 0, -5]

[-1, -2, -3, 0, -5]

In [7]:
#cree una funcion que tome 4 argumentos Titulo1, Lista1, Titulo2, Lista2 y devuelva un DataFRame de Pandas
import pandas as pd
def create_dataframe(title1, list1, title2, list2):
    """
    Crea un DataFrame de Pandas con dos columnas a partir de dos listas de valores.
    Normaliza los valores dividiendo cada elemento por el último de su respectiva lista.
    """
    list1_normalized = [x / list1[-1] for x in list1]
    list2_normalized = [x / list2[-1] for x in list2]
    
    return pd.DataFrame({title1: list1_normalized, title2: list2_normalized})
list1 = [1, 2, 3]
list2 = [2, 4, 5]
title1 = 'uno'
title2 = 'dos'

df = create_dataframe(title1, list1, title2, list2)
print(df)

        uno  dos
0  0.333333  0.4
1  0.666667  0.8
2  1.000000  1.0

Por ejemplo
```
lsta1 = [1, 2, 3]
lsta2 = [2, 4, 5]
titulo1 = 'uno
titulo2 = 'dos

my_function(lsta, lsta, titulo1, titulo2)
``` 
deberá devolver un DataFrame que se parezca a:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |