# **Modulo-1:** Probabilidad y Estadistica

**Objetivo:**
* Estadistica.- *Inferir hechos sobre una poblacion a partir de una muestra.*
* Probabilidad.- La medida del grado de certeza o incertidumbre de un evento
--- 
Tipo de variable
- **Variables Cualitativas:**
  - Variable categoricas.- Color, Generao, Marca, Estado Civil y mas.
  - Variables ordinales.- grado educacion, jerarquia militar, grado de satisfaccion, dia de la semana y mas.
- **Variables Cuantitativas:**
  - Discretas.- cantidad personas, cantidad autos, cantidad de sillas y mas.
  - Continuas.- peso, altura
    - Escala.- temperatura, grados de temperatura

# Probabilidad

Tipos de experimentos
- *Experimento deterministico*
- *Experimento aleatorio*

Forma de calcular
- Metodo teorico.- *Division de la cantidad de casos favorables y casos posibles*
- Metodo empirico.- *Se realiza el experiimento una cantidad finita de veces y se obtiene la frecuencia relativa de ocurrencia.*

Las 3 reglas de Kolmogorov.- *se puede resolver cualquier problema de probabilidad*
- 
- 
Diagrama de Ven

Librerias

In [1]:
#librerias principales
import numpy as np # arrays/matrices
import pandas as pd # Data frame
import matplotlib.pyplot as plt # Graficos Basicos(1 capa de 3)
import seaborn as sns # Grafico Avanzados

### Contenedores:

#### Listas

In [ ]:
# Crear lista de compras inicial
lista_compras = ["Manzanas", "Leche", "Pan", "Huevos"]

# Añadir "Aceite" porque se terminó
lista_compras.append("Aceite")

# Eliminar "Pan" porque ya lo compraste
lista_compras.remove("Pan")

# Iterar para mostrar lo que falta comprar
print("Productos pendientes:")
for producto in lista_compras:
    print(f"- {producto}")

# Output:
# Productos pendientes:
# - Manzanas
# - Leche
# - Huevos
# - Aceite

#### Numpys Array

In [ ]:
# Simular datos de temperatura (valores aleatorios entre 15°C y 30°C)
temperaturas = np.random.uniform(15, 30, 168)  # 168 valores

# Calcular estadísticas clave
media = np.mean(temperaturas)
maxima = np.max(temperaturas)
minima = np.min(temperaturas)

# Encontrar horas con temperatura > 28°C
horas_calurosas = np.where(temperaturas > 28)[0]

print(f"Media: {media:.2f}°C")         # Ej: Media: 22.53°C
print(f"Máxima: {maxima:.2f}°C")       # Ej: Máxima: 29.87°C
print(f"Horas calurosas: {horas_calurosas}")  # Ej: [ 12, 45, 120 ]

#### Diccionarioas

In [ ]:
# Crear agenda de contactos
agenda = {
    "Juan Pérez": {
        "teléfono": "+56912345678",
        "email": "juan@example.com"
    },
    "Ana Gómez": {
        "teléfono": "+56987654321",
        "email": "ana@example.com"
    }
}

# Añadir nuevo contacto
agenda["Luis García"] = {
    "teléfono": "+56955554444",
    "email": "luis@example.com"
}

# Buscar el teléfono de Ana Gómez
print(f"Teléfono de Ana: {agenda['Ana Gómez']['teléfono']}")  # Output: +56987654321

# Mostrar todos los contactos
for nombre, datos in agenda.items():
    print(f"{nombre}: {datos['teléfono']}")

### Funciones Lambda

In [ ]:
# def(funciones)
def sum_x_y(x, y):
    out = x + y
    return out

print(sum_x_y(5,3))

Ejemplo-1: *función rápida para sumar dos números, pero sin definirla formalmente con def.*

In [ ]:
# Función lambda para sumar dos números
sumar = lambda a, b: a + b

# Usar la función
resultado = sumar(5, 3)
print(resultado)  # Output: 8

In [ ]:
# Crear DataFrame de productos
datos = {
    "producto": ["Arroz", "Harina PAN", "Leche en polvo"],
    "precio_usd": [5, 13.2, 3.2]  # Precios en dólares
}
df = pd.DataFrame(datos)

# Añadir columna "precio_bs" usando lambda (1 USD = 6.96 Bs)
df["precio_bs"] = df["precio_usd"].apply(lambda x: x * 6.96)

# Mostrar el DataFrame
print(df)

### Pandas - Ejemplo-1

```
# Obtener la ruta del directorio actual (Working Directory)
```

In [ ]:
import os

ruta_actual = os.getcwd()
print(f"Directorio actual: {ruta_actual}")

```
# lectura de archivos
```

In [ ]:
df = pd.read_csv('d:/Diplomado-Data_Science_v3/Modulo-1/dataset/auto.csv', delimiter = ';' )

```
# revisar archivos
```

In [ ]:
# muestra las primeras filas del DataFrame
df.head(8)

In [ ]:
# devuelve una tupla con dos elementos: el número de filas (registros) 
# y el número de columnas (variables) del DataFrame.
df.shape

In [ ]:
# mostrar los nombres de las columnas
df.columns

In [ ]:
# muestra los ultimas filas del DataFrame
df.tail()

In [ ]:
# loc seleccionar filas, por nombre de índice
df.loc[[0, 1], ['make', 'body-style']]

In [ ]:
#seleccionar por numero de indice
df.iloc[[1,2], [0,5]]

In [ ]:
#resumen detallado de la estructura y tipos de datos de un DataFrame
df.info()

### Aleatoriedad

In [ ]:
import random

In [ ]:
# SEMILLA ALETORIA: controla la secuencia de números aleatorios.
random.seed(42) 

# genera números basados en la semilla actual. [0.0, 1.0).
random.random()

```
# distribucioon uniforme
```

In [ ]:
# Función que genera un número decimal (float) aleatorio dentro del 
# rango [a, b]  a (límite inferior) y b (límite superior).
#   a = Valor mínimo posible (incluido).
#   b = Valor máximo posible (incluido).
random.uniform(25,50)

In [ ]:
# variable aleatoria Normal
mu = 0
sigma = 1

random.normalvariate(mu, sigma)

### Pandas - Ejemplo-2

```
# Importar datos desde la WEB
```

Varias de las bases otenidas para el cuirso provienen de:
https://archive-beta.ics.uci.edu/, el cual es un repositorio libre

```
# Importaremos el set de datos Autos de la siguiente dirección: 
```

<ul>
    <li><a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01" target="_blank">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a></li>
    
</ul>

In [24]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
base = pd.read_csv(url)

In [25]:
# identificacion de cabezar raras
base.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [26]:
# Quitar el nombre de las encabezados
base = pd.read_csv(url, header=None)
base.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [27]:
# Renombrar las encabezados en base a la informacion del enlace
encabezados = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [28]:
base.columns = encabezados
base.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

```
# .Crosstab()
```

In [ ]:
pd.crosstab(base['fuel-type'],base['drive-wheels'],values=base['make'], aggfunc='count', margins=True)

In [ ]:
pd.crosstab(base['fuel-type'],base['drive-wheels'],values=base['price'], aggfunc='sum', margins=True)

Guardar en Data Frame

In [ ]:
base_2 = base.to_csv('base2.csv', index=False)


Tipos de datos 
```
.dtypes
```

In [ ]:
# Devuelve los tipos de datos de cada columna del DataFrame
base.dtypes

Descripcion
```
.describe()
```

In [ ]:
# obtener un resumen estadístico rápido
base.describe() # todas columnas con valores numericas o flotantes

# count: Número de valores no nulos.
# mean: Media (promedio).
# std: Desviación estándar (medida de dispersión).
# min: Valor mínimo.
# 25%: Primer cuartil (25% de los datos están por debajo de este valor).
# 50%: Mediana (segundo cuartil).
# 75%: Tercer cuartil (75% de los datos están por debajo).
# max: Valor máximo.

In [ ]:
# solo columnas con valores numericos
base.describe(include=np.number)

In [ ]:
# columnas con valores categoricos
base.describe(include='object')

In [ ]:
# sacar solo de ciertos valores
base[['width', 'length']].describe()

### Pandas - Ejemplo-3

#### Importe el siguiente set de datos:
<ul>
    https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv
</ul>
Determine:
<li>   La froma de la tabla </li>
<li>   El tercer cuarttil de las variables: residual sugar y density </li>
<li>   Muestre los últimos 5 registros de la tabla, para las columnas: pH,	sulphates,	alcohol	y quality </li>

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'
df = pd.read_csv(url, delimiter=';')

In [ ]:
df.shape

```
# TASK-1 : La froma de la tabla
```

In [ ]:
df.head()

```
TASK-2 : El tercer cuarttil de las variables: residual sugar y density
```

In [ ]:
df[['residual sugar', 'density']].describe()

1. Conclucion.- el 75% de los casos indices de datos de residual de azucar es menor a 9.9
2. Conclucion.- el 75% tiene un valor de densidad de 0.99

```
TASK-3: Muestre los últimos 5 registros de la tabla, para las columnas: pH,	sulphates,	alcohol	y quality
```

In [ ]:
df[['pH', 'sulphates', 'alcohol', 'quality']].tail(5)

In [ ]:
# Todos los columnas de la fila[indice=2]
df.iloc[2,:]

In [ ]:
# obtener el Valor mas especifico por fila y nombre de la columna
df.loc[2, 'citric acid']

In [ ]:
# 2da forma obtener el Valor mas especifico por indice de fila y columna
df.iloc[2, 2]

### Limpieza de datos

In [22]:
#combina funcionalidades de gráficos y cálculos numéricos
import matplotlib.pylab as plb

#### Identificar Datos perdidos

- *En Pandas los nullos se conocen como :* **"null"**
- *En numpy los nullos son:* **"nan"**

In [ ]:
base.head()
# ? -> pandas lo toma como un objeto y no como null

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

```
.isnull()
```
DataFrame de pandas se utiliza para detectar valores faltantes **(True)** o nulos (como **NaN**, **None** o **NaT**) en un conjunto de datos.

In [ ]:
base.isnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

```
.isnull().sum()
```
DataFrame de pandas se utiliza para contar la cantidad de valores nulos (o faltantes) en cada columna del DataFrame.

In [33]:
base.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [34]:
# Realizacion el cambio de ? por nulos np
base.replace('?', np.nan).head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [35]:
# aun asi no se ven por falta de persistencia
base.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [36]:
#Realizando el cambio de ? por nulos np, pero reemplazandolos definitivamente en la base de datos
base.replace('?', np.nan, inplace=True)

In [37]:
base.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [39]:
# Mostrar todas aquellas filas tengan algun valor perdido en las columnas
base[base.isnull().values.any(axis=1)]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN
14,1,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.0,121,4250,20,25,24565
15,0,NaN,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,30760
16,0,NaN,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.0,182,5400,16,22,41315
17,0,NaN,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.0,182,5400,15,20,36880
27,1,148,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
43,0,NaN,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
44,1,NaN,isuzu,gas,std,two,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,NaN
45,0,NaN,isuzu,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,NaN
46,2,NaN,isuzu,gas,std,two,hatchback,rwd,front,96.0,...,119,spfi,3.43,3.23,9.2,90,5000,24,29,11048
48,0,NaN,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176,4750,15,19,35550
49,0,NaN,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,11845
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,NaN,NaN,9.4,101,6000,17,23,13645
58,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,NaN,NaN,9.4,135,6000,16,23,15645
63,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795
66,0,NaN,mazda,diesel,std,four,sedan,rwd,front,104.9,...,134,idi,3.43,3.64,22.0,72,4200,31,39,18344
71,-1,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
73,0,NaN,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.80,3.35,8.0,184,4500,14,16,40960
74,1,NaN,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.80,3.35,8.0,184,4500,14,16,45400
75,1,NaN,mercury,gas,turbo,two,hatchback,rwd,front,102.7,...,140,mpfi,3.78,3.12,8.0,175,5000,19,24,16503
82,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.58,3.86,7.0,145,5000,19,24,12629
83,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14869
84,3,NaN,mitsubishi,gas,turbo,two,hatchback,fwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,14489
109,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,3.19,8.4,97,5000,19,24,12440
110,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,13860
113,0,NaN,peugot,gas,std,four,wagon,rwd,front,114.2,...,120,mpfi,3.46,2.19,8.4,95,5000,19,24,16695
114,0,NaN,peugot,diesel,turbo,four,wagon,rwd,front,114.2,...,152,idi,3.70,3.52,21.0,95,4150,25,25,17075
124,3,NaN,plymouth,gas,turbo,two,hatchback,rwd,front,95.9,...,156,spdi,3.59,3.86,7.0,145,5000,19,24,12764
126,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,32528
127,3,NaN,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,34028
128,3,NaN,porsche,gas,std,two,convertible,rwd,rear,89.5,...,194,mpfi,3.74,2.90,9.5,207,5900,17,25,37028
129,1,NaN,porsche,gas,std,two,hatchback,rwd,front,98.4,...,203,mpfi,3.94,3.11,10.0,288,5750,17,28,NaN
130,0,NaN,renault,gas,std,four,wagon,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9295
131,2,NaN,renault,gas,std,two,hatchback,fwd,front,96.1,...,132,mpfi,3.46,3.90,8.7,NaN,NaN,23,31,9895
181,-1,NaN,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.2,156,5200,19,24,15750
189,3,NaN,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,11595
191,0,NaN,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.40,8.5,110,5500,19,24,13295
192,0,NaN,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.40,23.0,68,4500,33,38,13845
193,0,NaN,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.40,9.0,88,5500,25,31,12290

In [41]:
# recien muestra los valores no son nulos
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [42]:
# 2da Forma de ver datos nulos
#Otra froma de ver nulos
for column in base.isnull().columns.values.tolist():
    print(column)
    print (base.isnull()[column].value_counts())
    print('...')

symboling
symboling
False    205
Name: count, dtype: int64
...
normalized-losses
normalized-losses
False    164
True      41
Name: count, dtype: int64
...
make
make
False    205
Name: count, dtype: int64
...
fuel-type
fuel-type
False    205
Name: count, dtype: int64
...
aspiration
aspiration
False    205
Name: count, dtype: int64
...
num-of-doors
num-of-doors
False    203
True       2
Name: count, dtype: int64
...
body-style
body-style
False    205
Name: count, dtype: int64
...
drive-wheels
drive-wheels
False    205
Name: count, dtype: int64
...
engine-location
engine-location
False    205
Name: count, dtype: int64
...
wheel-base
wheel-base
False    205
Name: count, dtype: int64
...
length
length
False    205
Name: count, dtype: int64
...
width
width
False    205
Name: count, dtype: int64
...
height
height
False    205
Name: count, dtype: int64
...
curb-weight
curb-weight
False    205
Name: count, dtype: int64
...
engine-type
engine-type
False    205
Name: count, dtype: int64
...
num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64
...
engine-size
engine-size
False    205
Name: count, dtype: int64
...
fuel-system
fuel-system
False    205
Name: count, dtype: int64
...
bore
bore
False    201
True       4
Name: count, dtype: int64
...
stroke
stroke
False    201
True       4
Name: count, dtype: int64
...
compression-ratio
compression-ratio
False    205
Name: count, dtype: int64
...
horsepower
horsepower
False    203
True       2
Name: count, dtype: int64
...
peak-rpm
peak-rpm
False    203
True       2
Name: count, dtype: int64
...
city-mpg
city-mpg
False    205
Name: count, dtype: int64
...
highway-mpg
highway-mpg
False    205
Name: count, dtype: int64
...
price
price
False    201
True       4
Name: count, dtype: int64
...

#### Eliminar Datos perdidos

In [43]:
base.shape

(205, 26)

```
.dropna()
``` 
Se usa para eliminar filas o columnas que contienen valores nulos (NaN) en un DataFrame.

In [46]:
# Elimina la fila que tenga por lo menos un dato perdido
base.dropna().shape

(159, 26)

In [45]:
base.shape

(205, 26)

In [48]:
# Elimina la columna que tenga por lo menos un dato perdido
base.dropna(axis=1).shape

(205, 19)

In [49]:
# Eliminar solo las filas que tiente dato perdido de la columna 'price'
base.dropna(subset=['price']).shape

(201, 26)

#### Transformar datos perdidos

In [64]:
base.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

``` 
.fillna(): 
```
Rellenar valores faltantes o nulos (NaN) con un valor específico

In [65]:
# Reemplazar por un valor fijo
base['normalized-losses'].fillna(160).head()

0    160
1    160
2    160
3    164
4    164
Name: normalized-losses, dtype: object

In [66]:
#Colocar el último valor válido
base['price'].iloc[43:48]

43            6785
44    13207.129353
45    13207.129353
46           11048
47           32250
Name: price, dtype: object

```
.ffill()  
```
(Forward Fill) Rellena los valores nulos con el valor anterior en la misma columna.

In [67]:
# Reemplazar los NaN por el de la posicion 43:6785
base['price'].iloc[43:48].ffill()

43            6785
44    13207.129353
45    13207.129353
46           11048
47           32250
Name: price, dtype: object

```
.bfill() 
```
(Backward Fill) Rellena los valores nulos con el valor siguiente en la misma columna.

In [68]:
#bfill para colocar el primer valor válido
base['price'].iloc[43:48].bfill()

43            6785
44    13207.129353
45    13207.129353
46           11048
47           32250
Name: price, dtype: object

In [69]:
base[['price']].dtypes

price    object
dtype: object

```
.astype(tipo_dato)
```
Cambia el tipo de datos de una columna o de todo el DataFrame.

In [70]:
base['price'].astype('float')

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [71]:
base['price'].iloc[42:48]

42           10345
43            6785
44    13207.129353
45    13207.129353
46           11048
47           32250
Name: price, dtype: object

```
.mean()
```
Calcula el promedio (media aritmética) de las columnas numéricas.

In [72]:
# Media, se debe convertir a flotante.
base["price"].iloc[43:48].replace(np.nan, base['price'].astype('float').mean())

43            6785
44    13207.129353
45    13207.129353
46           11048
47           32250
Name: price, dtype: object

```
.median()
```
Calcula la mediana de las columnas numéricas (el valor central de los datos ordenados).

In [73]:
# Mediana
base["price"].iloc[43:48].replace(np.nan, base['price'].astype('float').median())

43            6785
44    13207.129353
45    13207.129353
46           11048
47           32250
Name: price, dtype: object

In [74]:
# 1ra forma: Reemplazar en toda la columna los datos faltantes por la media
base["price"].replace(np.nan, base['price'].astype('float').mean(), inplace=True)

In [75]:
# 2da forma: para reemplazar la media 
promedio_precio = base['price'].astype('float').mean(axis=0)
print("promedio price:", promedio_precio)
#base["price"].replace(np.nan, promedio_precio, inplace=True)

promedio price: 13207.129353233831

*Cambie los valores nulos de las columnas:* **"stroke"**, **"horsepower"**, **"peak-rpm"** y **"normalized-losses"** *por el valor promedio de toda la columna*

In [76]:
base["stroke"].replace(np.nan, base['stroke'].astype('float').mean()) #Media
base["horsepower"].replace(np.nan, base['horsepower'].astype('float').mean()) #Media
base["peak-rpm"].replace(np.nan, base['peak-rpm'].astype('float').mean()) #Media
base["normalized-losses"].replace(np.nan, base['normalized-losses'].astype('float').mean()) #Media

0      122.0
1      122.0
2      122.0
3        164
4        164
       ...
200       95
201       95
202       95
203       95
204       95
Name: normalized-losses, Length: 205, dtype: object

```
moda
```

In [81]:
# Valores Categoricos: Reemplazar por el valor más frecuente
# Para ver las frecuencias de forma simple:
base['num-of-doors'].value_counts(normalize=True)

num-of-doors
four    0.565854
two     0.434146
Name: proportion, dtype: float64

In [82]:
base['num-of-doors'].isnull().sum()

np.int64(0)

In [83]:
base['num-of-doors'].value_counts().idxmax()

'four'

In [84]:
base['num-of-doors'].replace(np.nan, 'four', inplace=True)
base['num-of-doors'].isnull().sum()

C:\Users\Dev.Riam\AppData\Local\Temp\ipykernel_13796\1835053387.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  base['num-of-doors'].replace(np.nan, 'four', inplace=True)

np.int64(0)

#### Corregir Formatos

```
.dtypes
```
DataFrame de pandas devuelve el tipo de datos de cada columna.

In [85]:
base.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [86]:
base[["price"]] = base[["price"]].astype("float")
#base[["normalized-losses"]] = base[["normalized-losses"]].astype("int")
base[["bore", "stroke"]] = base[["bore", "stroke"]].astype("float")
base[["peak-rpm"]] = base[["peak-rpm"]].astype("float")

In [87]:
base["normalized-losses"].replace(np.nan, base['normalized-losses'].astype('float').mean(), inplace=True)

C:\Users\Dev.Riam\AppData\Local\Temp\ipykernel_13796\3103258300.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  base["normalized-losses"].replace(np.nan, base['normalized-losses'].astype('float').mean(), inplace=True)

In [88]:
base["normalized-losses"].head()

0    122.0
1    122.0
2    122.0
3      164
4      164
Name: normalized-losses, dtype: object

In [90]:
base["normalized-losses"] = base['normalized-losses'].astype('float')

In [92]:
base["normalized-losses"].dtype

dtype('float64')

In [91]:
type(base["normalized-losses"])

pandas.core.series.Series

---
# Estadisticos Descriptivos

## Análisis estadístico de Variables

## Tendencia Central y Dispersión
Tendencia Centra: 
 - Media
 - Mediana 
 - Moda
  
Dispersion 
 - Eje estandar
 - Desviacion estandar
 - Cuartiles

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
base = pd.read_csv(url)
encabezados = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
base.columns = encabezados
base.replace('?', np.nan, inplace=True)
base['horsepower'] = base['horsepower'].astype('float')
base['price'] = base['price'].astype('float')
medias_columna = base.mean(numeric_only=True)
base = base.fillna(medias_columna)
#base.dropna(inplace=True)
base.head()

NameError: name 'pd' is not defined

Frecuencias

```
.groupby()
```
Agrupa filas de un DataFrame según los valores de una o varias columnas.

```
.pivot()
```
Reorganiza un DataFrame transformando valores de una columna en nombres de columnas.

```
.pivot_trable()
```
Es una herramienta poderosa para resumir y analizar datos en un DataFrame.

```
.corr()
```
es una herramienta fundamental para analizar las relaciones lineales entre las columnas numéricas de un DataFrame.

**Correlacion Bulk.-** se enfoca en identificar patrones y relaciones entre múltiples variables de manera simultánea.

**Correlacion Bivarida.-**

**Leyes de los grandes numeros** : repasar es la base de la estadistica

---

**Probabilidad Binomial**
```
from scipy.stats import binom: 
``` 
importa la distribución binomial del módulo stats de la biblioteca SciPy, permitiendo trabajar con experimentos de probabilidad discreta de tipo "éxito/fracaso"

```
binom.pmf(k, n, p)
```
unción calcula la función de masa de probabilidad (PMF)
¿Cuál es la probabilidad de obtener exactamente k éxitos?

```
binom.cdf(k, n, p)
```
Esta función calcula la función de distribución acumulada  (CDF)
 ¿Cuál es la probabilidad de obtener k o menos éxitos?

Parametros
- **k:** El número de éxitos que nos interesa.
- **n:** El número total de ensayos.
- **p:** La probabilidad de éxito en un solo ensayo.

**Distribución normal**

```
from scipy.stats import norm
```
importa la función norm desde el módulo stats de la biblioteca SciPy. Esta función norm representa la distribución normal, también conocida como la distribución gaussiana

```
norm.pdf(x, loc=0, scale=1)
```
Calcula la función de densidad de probabilidad (PDF), de la distribución normal. 
Nos dice qué tan probable es observar un valor particular en la distribución.

```
norm.ppf(q, loc=0, scale=1)
```
Calcula el punto porcentual (PPF) o cuantil de la distribución normal.
Nos dice qué valor de la variable aleatoria corresponde a un percentil específico.

Parámetros:
- **q:** *La probabilidad acumulada (un valor entre 0 y 1).*
- **loc:** *La media (μ) de la distribución normal. Por defecto, es 0 (distribución normal estándar).*
- **scale:** *La desviación estándar (σ) de la distribución normal. Por defecto, es 1 (distribución normal estándar).*

**Distribucion Poisson**

```
from scipy.stats import poisson as pois
```
La función poisson se utiliza para trabajar con la distribución de Poisson, que es una distribución de probabilidad discreta que describe la probabilidad de un número dado de eventos que ocurren en un intervalo 1  de tiempo o espacio fijo

```
pois.pmf(k, mu) 
```
Esta función calcula la función de masa de probabilidad (PMF)
Cuál es la probabilidad de que ocurran exactamente k eventos?

```
pois.cdf(k, mu)
```
Esta función calcula la función de distribución acumulada (CDF)
¿Cuál es la probabilidad de que ocurran k o menos eventos?

Parámetros
- **k:** *El número de eventos que nos interesa.*
- **mu:** *La tasa promedio de eventos (también conocida como lambda, λ).*

---
**INTERVALOS CONFIANZA**

Nos permiten estimar un parámetro poblacional desconocido (como la media o la proporción) a partir de una muestra aleatoria
Nos dan un rango de valores dentro del cual es probable que se encuentre el verdadero valor del parámetro que estamos estudiando.

Metodos para calcular
- Intervalo de confianza basado en la distribución normal:
- Intervalo de confianza basado en la distribución t de Student:
- Intervalo de confianza para proporciones:
- Intervalo de Wilson:
- Intervalo de Wald

**Cobertura:** solo visual academico

**Intervalo de Poisson**
```
from scipy.stats import poisson
```
se utiliza para estimar el número de eventos que pueden ocurrir en un intervalo de tiempo o espacio específico, basándose en una tasa promedio conocida de ocurrencia de dichos eventos (lambda, λ)

---

**INTERVALOS DE CONFIANZA T**

Intervalos de confianza para muestras pequenas

**Distribución de Gosset**

¿Cuándo usar la distribución de Gosset?
La distribución de Gosset es especialmente útil cuando:
- El tamaño de la muestra es pequeño (generalmente menor a 30).
- La desviación estándar de la población es desconocida.
- Los datos siguen una distribución normal o aproximadamente normal.

```
from ipywidgets import interact, IntSlider
```
Esta biblioteca permite crear controles interactivos (widgets)
ipywidgets te permite crear interfaces interactivas muy fácilmente. interact crea los widgets automáticamente, y widgets como IntSlider te dan controles específicos (como deslizadores) para diferentes tipos de datos.

**PRUEBAS DE HIPOTESIS**

**Prueba de dos colas**
*la diferencia podría ser en cualquier dirección (ya sea que un grupo sea mayor que el otro o viceversa).*

Intervalos para dos grupos

P-value

**ANALASIS ANOVA** 
de una categoria

**ANALISIS DE REGRESION Y CORRELACION**